@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;1,300&display=swap');

:root {
  --main-color: hsl(0, 100%, 70%);
  --side-color: hsl(98, 75%, 70%);
  --lighter-main: hsl(0, 100%, 73%);
  --active-color: hsl(51, 100%, 70%);
  --border: 1px solid white;
  --font-size: 25px;
}

* {
  box-sizing: border-box;
}
html, 
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  /* min-width: 100vw; */
  color: white;
  background-color: var(--main-color);
  font-family: "Rubik", sans-serif;
  font-size: var(--font-size);
}
::selection {
  background: var(--active-color);
}
::-webkit-scrollbar {
  appearance: none;
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--side-color);
  border-radius: 5px;
}
.header {
  background: var(--side-color);
  width: 100%;
  height: 50px;
}
.header svg {
  height: 40px;
  /* Divided the side margin by 2, and subtracted half of the svg's width to center it. */
  margin: 5px calc(100% / 2 - 20px);  
}
.section {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
}
.section:nth-child(odd) {
  background: var(--lighter-main);
}
.settingTitle {
  margin: auto auto auto 10px;
}
.settingContainer {
  margin: auto 10px auto auto;
  height: 30px;
  display: flex;
  flex-direction: row;
  float: right;
}
.setting {
  height: 30px;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: var(--border);
  background: inherit;
  /* width: min-content; */
  cursor: pointer;
  text-align: end;
}
.setting::selection {
  background: var(--active-color);
}
.setting:focus, .setting:hover {
  outline: none;
  color: var(--active-color);
  border-color: var(--active-color);
}
.setting:valid {
  border: none;
}
.setting::-webkit-outer-spin-button,
.setting::-webkit-inner-spin-button {
  -webkit-appearance: none;
  /* margin: 0; */
}
.setting[type=number] {
  -moz-appearance: textfield;
}
.unit {
  /* width: min-content; */
  /* margin: 0 5px; */
  margin: 0 0 0 5px;
}
.pomodoroStart {
  margin: 15px calc(100% / 2 - 60px);
  width: 120px;
  height: 60px;
  border: none;
  border-radius: 10px;
  font-size: var(--font-size);  
  color: white;
  background: var(--side-color);
  cursor: pointer;
}
.pomodoroStart:active, .pomodoroStart:hover {
  background: var(--active-color);
}
/* Blockquote contains the quote svg and quote text, while the p contains the author and source work if applicable. */
/* .quote blockquote svg {
  height: 30px;
}
.quote blockquote {
  margin-top: 0;
  margin-bottom: 3px;
} */
.quote {
  margin-bottom: 5%;
}
.quoteText {
  width: 90%;
  /* margin: 0 5% 3px 5%; */
  margin: 0 5% 3px;
}
.quoteSVG {
  height: 30px;
  margin: 0;
  /* margin-bottom: 3px; */
}
.quoteAuthor {
  margin: 0 0 0 100px;
}
